<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Villager Trading</title>

		<!-- This is a 3rd-party stylesheet to incorporate the font family to be used for this page ("Roboto"). -->
		<link href="//db.onlinewebfonts.com/c/6ab539c6fc2b21ff0b149b3d06d7f97c?family=Minecraft" rel="stylesheet" type="text/css"/>

		<!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
		<link rel="stylesheet" href="/style.css" media="screen">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.runtime.js" integrity="sha512-0bRnmqp8jww8h5q9khSJSMF7kUFVuzAiVpbwCr1+kot0yAwtVukdBQGznIvytgpFzy6wEgFbjbNSO2xcSBHTWA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

	</head>

	<body>
		<header>
			<!-- The <i> tag below includes the lizard hand icon from Font Awesome.  Do not directly style this element. -->
			<a href="#"><h1 class="title"> Villager Trading</h1></a>

			<nav class="navbar">
				<ul class="navlist">
					<li class="navitem navlink {{#if active.Home}}active{{/if}}"><a href="/">Home</a></li>
					<li class="navitem navlink {{#if active.Villagers}}active{{/if}}"><a href="/villagers">Villagers</a></li>
					<li class="navitem navlink {{#if active.Items}}active{{/if}}"><a href="/items">Items</a></li>
					<li class="navitem navlink {{#if active.Transactions}}active{{/if}}"><a href="/transactions">Transactions</a></li>
					<li class="navitem navlink {{#if active.Discounts}}active{{/if}}"><a href="/discounts">Discounts</a></li>
					<li class="navitem navlink {{#if active.Professions}}active{{/if}}"><a href="/professions">Professions</a></li>
					<li class="navitem navlink {{#if active.Customers}}active{{/if}}"><a href="/customers">Customers</a></li>
					
				</ul>
			</nav>
		</header>
		
		{{{body}}}

	</body>
	<script src="/cache.js" charset="utf-8" defer></script>
	<script src="/index.js" charset="utf-8" defer></script>
	<div class="footer"></div>

</html>