<!DOCTYPE html>
<center>
	<table border="1" cellpadding="5" id="table">
	</table>
	
    <p>Add a new discount:</p>
    <form class="insert" id="add-discount">
        <label for="name">Discount Name:</label><br>
        <input type="text" id="name" name="name"><br>
		
        <label for="percent">Discount Percent:</label><br>
        <input type="text" id="percent" name="percent"><br>
        <input type="submit" value="Submit">
    </form>
</center>
<script src="/discounts.js" charset="utf-8" defer></script>