<!DOCTYPE html>
<p>Overview of webpages:</p>
<ul>
  <li>Villagers - manage the professions, names, and items of villagers in the village.</li>
  <li>Items - add, update, or remove items to the list of known items to sell.</li>
  <li>Transactions - track transactions between customers and villagers.</li>
  <li>Discounts - add discount names and percentages to be used in transactions.</li>
  <li>Professions - add villager professions and descriptions. </li>
  <li>Customers - browse known list of customers.</li>
</ul>