<!DOCTYPE html>

<!-- Code to add card and description for each page on the website. -->
<div style="display: flex" class="card-container">
  <div class="card">
    <img src="/images/pillars.png" style="width:100%">
    <div class="container">
      <h4><b>Villagers</b></h4>
      <p>Manage the professions, names, and items of villagers in the village.</p>
    </div>
  </div>
  <div class="card">
    <img src="/images/items.png" style="width:100%">
    <div class="container">
      <h4><b>Items</b></h4>
      <p>Manage the list of items that the village has.</p>
    </div>
  </div>
  <div class="card">
    <img src="/images/lectern.png" style="width:100%">
    <div class="container">
      <h4><b>Transactions</b></h4>
      <p>Track transactions between customers and villagers.</p>
    </div>
  </div>
</div>

<div style="display: flex" class="card-container">
    <div class="card">
      <img src="/images/discounts.png" style="width:100%">
      <div class="container">
        <h4><b>Discounts</b></h4>
        <p>Add discount names and percentages to be used in transactions.</p>
      </div>
    </div>
      <div class="card">
        <img src="/images/professions.png" style="width:100%">
        <div class="container">
          <h4><b>Professions</b></h4>
          <p>Add villager professions and descriptions.</p>
        </div>
  </div>

  <div class="card">
    <div class="container">
      <img src="/images/customers.png" style="width:100%">
      <h4><b>Customers</b></h4>
      <p>Browse known list of customers.</p>
    </div>
  </div>
</div>
