<!DOCTYPE html>
<center>
    <img src="/construction2.png" class="tablesub">
    <p>Add a new item:</p>
    <form>
        <label for="name">Item Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="cost">Item Cost:</label><br>
        <input type="text" id="cost" name="cost"><br>
        <label for="amount">Number in stock:</label><br>
        <input type="text" id="number" name="number"><br>
        <input type="submit" value="Submit">
    </form>
    <p>Update existing item:</p>
    <form>
        <label for="name">Choose an item to update:</label><br>
        <select id="name" name="name">
            <option value="netherwart">Nether Wart</option>
            <option value="apple">Apple</option>
        </select><br>
        <label for="cost">Item Cost:</label><br>
        <input type="text" id="cost" name="cost"><br>
        <label for="amount">Number in stock:</label><br>
        <input type="text" id="number" name="number"><br>
        <input type="submit" value="Submit">
    </form>
</center>