<!DOCTYPE html>
<center>	
	<table border="1" cellpadding="5" id="table">
	</table>
	
    <p>Add a new item:</p>
    <form class="insert" id="add-new-item">
        <label for="name">Item Name:</label><br>
        <input type="text" id="name" name="name"><br>
		
        <label for="cost">Item Cost:</label><br>
        <input type="text" id="cost" name="cost"><br>
		
        <label for="amount">Number in stock:</label><br>
        <input type="text" id="amount" name="amount"><br>

        <label for="profession">Profession:</label><br>
        <select id="profession-add" name="profession">
        </select><br>
        <input type="submit" value="Submit">
    </form>

    <form class="update hidden" id="update-item">
        <p>Update existing item:</p>
        <label for="name">Choose an item to update:</label><br>
        <select id="item" name="name">
        </select><br>
		
        <label for="cost">Item Cost:</label><br>
        <input type="text" id="cost" name="cost"><br>
		
        <label for="amount">Number in stock:</label><br>
        <input type="text" id="number" name="number"><br>

        <label for="profession">Villager Profession:</label><br>
        <select id="profession-update" name="profession">
        </select><br>
        <input type="submit" value="Submit">
    </form>

    <form class="remove hidden" id="delete-item">
        <p>Remove existing item:</p>
        <label for="name">Choose an item to remove:</label><br>
        <select id="item-remove" name="name">
        </select><br>
        <input type="submit" value="Submit">
	</form>
</center>
<script src="/items.js" charset="utf-8" defer></script>