<!DOCTYPE html>
<center>
    <img src="/construction2.png" class="tablesub">
	
	<table border="1" cellpadding="5" id="table">
	</table>
	
    <p>Add a new item:</p>
    <form>
        <label for="name">Item Name:</label><br>
        <input type="text" id="name" name="name"><br>
		
        <label for="cost">Item Cost:</label><br>
        <input type="text" id="cost" name="cost"><br>
		
        <label for="amount">Number in stock:</label><br>
        <input type="text" id="number" name="number"><br>
        <input type="submit" value="Submit">
    </form>

    <form class="update hidden">
        <p>Update existing item:</p>
        <label for="name">Choose an item to update:</label><br>
        <select id="item" name="name">
        </select><br>
		
        <label for="cost">Item Cost:</label><br>
        <input type="text" id="cost" name="cost"><br>
		
        <label for="amount">Number in stock:</label><br>
        <input type="text" id="number" name="number"><br>
        <input type="submit" value="Submit">
    </form>

    <form class="remove hidden">
        <p>Remove existing item:</p>
        <label for="name">Choose an item to remove:</label><br>
        <select id="item-remove" name="name">
        </select><br>
        <input type="submit" value="Submit">
</center>