<!DOCTYPE html>
<center>
	<table border="1" cellpadding="5" id="table">
	</table>
	
    <p>Add a new profession:</p>
    <form class="insert" id="add-profession">
        <label for="name">Profession Name:</label><br>
        <input type="text" id="name" name="name"><br>
		
        <label for="desc">Profession Description:</label><br>
        <input type="text" id="desc" name="desc"><br>
        <input type="submit" value="Submit">
    </form>
	
	<form class="update hidden" id="update-profession">
        <p>Update existing profession:</p>
        <label for="name">Choose a profession to update:</label><br>
        <select id="profession-update" name="name">
        </select><br>
		
        <label for="description">New Description:</label><br>
        <input type="text" id="description" name="description"><br>
		
        <input type="submit" value="Submit">
    </form>
	
	<form class="remove hidden" id="delete-profession">
        <p>Remove a profession:</p>
        <label for="name">Choose a profession to remove:</label><br>
        <select id="profession-remove" name="name">
        </select><br>
		
        <input type="submit" value="Submit">
    </form>	
		
	
</center>
<script src="/professions.js" charset="utf-8" defer></script>