<!DOCTYPE html>
<center>	
	<table border="1" cellpadding="5" id="table">
	</table>
	
    <p>Add a new transaction:</p>
    <form class="insert" id="add-transaction">
        <label for="villager">Villager:</label><br>
        <select id="villager-new" name="villager">
        </select><br>
		
        <label for="customer">Customer:</label><br>
        <select id="customer" name="customer">
        </select><br>
		
        <label for="discount">Discount:</label><br>
        <select id="discount" name="discount">
        </select><br>
		
        <label for="price">Total Price:</label><br>
        <input type="number" min="1" id="price" name="price"><br>
        
        <p>Add item to transaction:</p>
        <label for="item">Choose an item to add:</label><br>
        <select id="item" name="item">
        </select><br>
		
        <label for="num">Enter the number of items:</label><br>
        <input type="number" min="1" id="num" name="num"><br>
        <input type="submit" value="Submit">
    </form>

    <form class="update hidden" id="add-item">
        <p>Add item to transaction:</p>
        <label for="trans">Choose a transaction to update:</label><br>
        <input type="text" placeholder="Filter by customer..."><br>
        <select id="transaction" name="transaction">
        </select><br>
        <select id="villager-update" name="trans">
        </select><br>
		
        <label for="item">Choose an item to add:</label><br>
        <select id="item-update" name="item">
        </select><br>
		
        <label for="num">Enter the number of items:</label><br>
        <input type="number" min="1" id="num" name="num"><br>
        <input type="submit" value="Submit">
    </form>
</center>
<script src="/transactions.js" charset="utf-8" defer></script>