<!DOCTYPE html>
<center>
    <div></div>
    <img src="/construction3.png" class="tablesub">
	
	<table border="1" cellpadding="5" id="table">
	</table>
	
    <p>Add a new villager:</p>
    <form>
        <label for="name">Villager Name:</label><br>
        <input type="text" id="name" name="name"><br>
		
        <label for="profession">Villager Profession:</label><br>
        <input type="text" id="profession" name="profession"><br>
		
        <label for="age">Villager Age:</label><br>
        <input type="text" id="age" name="age"><br>
		
        <label for="status">Villager Status:</label><br>
        <input type="text" id="status" name="status"><br>   

        <label for="item">Choose an item to add:</label><br>
        <select id="item" name="item">
        </select><br>
            
        <input type="submit" value="Submit">
        
    </form>

    
    <form class="update hidden">
        <p>Add item to villager:</p>
        <label for="name">Choose an villager to update:</label><br>
        <select id="villager-update" name="name">
        </select><br>
		
        <label for="item">Choose an item to add:</label><br>
        <select id="item-update" name="item">
        </select><br>
        <input type="submit" value="Submit">
    </form>
    
    <form class="update hidden">
        <p>Update existing villager:</p>
        <label for="name">Choose an villager to update:</label><br>
        <select id="villager-new" name="name">
        </select><br>
		
        <label for="profession">Villager Profession:</label><br>
        <select id="profession-update" name="profession">
        </select><br>
		
        <label for="age">Villager Age:</label><br>
        <input type="text" id="age" name="age"><br>
		
        <label for="status">Villager Status:</label><br>
        <input type="text" id="status" name="status"><br>  
        <input type="submit" value="Submit">
    </form>
    <img src="/construction1.png" class="tablesub">

    
</center>